body {
    font-family: Roboto, sans-serif;
    color: #EFE2D7;
    background: #606c88;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3f4c6b, #606c88); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a {
    text-decoration: none;
    color: #EFE2D7;
}
a:hover {
    opacity: 0.5;
}

h1,h2,h3 {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 40%;
}

.birthday {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.birthday-day {
    margin-right: 0.5rem;
}

div input {
    width: 4rem;
    height: 1.7rem;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
label {
    text-align: center;
}

button {
    height: 3rem;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    align-self: center;
    background-color: #EFE2D7;
    color: #3f4c6b;
    box-shadow: 2px 4px 10px #3f4c6b;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}
button:hover {
    opacity: 0.7;
    cursor: pointer;
}

.zodiac-result, .chinese-result {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Zodiac sign logos*/
.aquarius-logo {
    background: url("img/zodiac/aquarius-1.png") center / cover no-repeat;
    width: 150px;
    height: 150px;
}
.aries-logo {
    background: url("img/zodiac/aries-1.png") center / cover no-repeat;
    width: 150px;
    height: 150px;
}
.cancer-logo {
    background: url("img/zodiac/cancer-1.png") center / cover no-repeat;
    width: 150px;
    height: 150px;
}
.capricorn-logo {
    background: url("img/zodiac/capricornus-1.png") center / cover no-repeat;
    width: 150px;
    height: 150px;
}
.gemini-logo {
    background: url("img/zodiac/gemini-1.png") center / cover no-repeat;
    width: 150px;
    height: 150px;
}
.leo-logo {
    background: url("img/zodiac/leo-1.png") center / cover no-repeat;
    width: 150px;
    height: 150px;
}
.libra-logo {
    background: url("img/zodiac/libra-1.png") center / cover no-repeat;
    width: 150px;
    height: 150px;
}
.pisces-logo {
    background: url("img/zodiac/pisces-1.png") center / cover no-repeat;
    width: 150px;
    height: 150px;
}
.sagittarius-logo {
    background: url("img/zodiac/sagittarius-1.png") center / cover no-repeat;
    width: 150px;
    height: 150px;
}
.scorpio-logo {
    background: url("img/zodiac/scorpio-1.png") center / cover no-repeat;
    width: 150px;
    height: 150px;
}
.taurus-logo {
    background: url("img/zodiac/taurus-1.png") center / cover no-repeat;
    width: 150px;
    height: 150px;
}
.virgo-logo {
    background: url("img/zodiac/virgo-1.png") center / cover no-repeat;
    width: 150px;
    height: 150px;
}

/* Chinese zodiac sign logos*/

.rat-logo {
    background: url("img/chinese/mouse.png") center / cover no-repeat;
    width: 150px;
    height: 150px;
}
.dog-logo {
    background: url("img/chinese/dog.png") center / cover no-repeat;
    width: 150px;
    height: 150px;
}
.dragon-logo {
    background: url("img/chinese/dragon.png") center / cover no-repeat;
    width: 150px;
    height: 150px;
}
.sheep-logo {
    background: url("img/chinese/goat.png") center / cover no-repeat;
    width: 150px;
    height: 150px;
}
.horse-logo {
    background: url("img/chinese/horse.png") center / cover no-repeat;
    width: 150px;
    height: 150px;
}
.monkey-logo {
    background: url("img/chinese/monkey.png") center / cover no-repeat;
    width: 150px;
    height: 150px;
}
.ox-logo {
    background: url("img/chinese/ox.png") center / cover no-repeat;
    width: 150px;
    height: 150px;
}
.pig-logo {
    background: url("img/chinese/pig.png") center / cover no-repeat;
    width: 150px;
    height: 150px;
}
.rabbit-logo {
    background: url("img/chinese/rabbit.png") center / cover no-repeat;
    width: 150px;
    height: 150px;
}
.rooster-logo {
    background: url("img/chinese/rooster.png") center / cover no-repeat;
    width: 150px;
    height: 150px;
}
.snake-logo {
    background: url("img/chinese/snake.png") center / cover no-repeat;
    width: 150px;
    height: 150px;
}
.tiger-logo {
    background: url("img/chinese/tiger.png") center / cover no-repeat;
    width: 150px;
    height: 150px;
}

.hidden {
    display: none;
}




/* BREAKPOINTS */

@media all and (min-width: 770px) {

}
@media all and (max-width: 769px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .wrapper {
        max-width: 100%;
    }
}
